<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:beans="http://www.springframework.org/schema/beans"

	xsi:schemaLocation="
		http://www.springframework.org/schema/mvc 
	    http://www.springframework.org/schema/mvc/spring-mvc.xsd
	    http://www.springframework.org/schema/context 
	    http://www.springframework.org/schema/context/spring-context-3.2.xsd
	    http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-4.0.xsd 
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<mvc:annotation-driven/>
	
	<mvc:resources mapping="/resources/**" location="/resources/" />
<!--
	<beans:bean id="velocityConfig" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        <beans:property name="resourceLoaderPath" value="/views/"/>
    </beans:bean>

    <beans:bean id="viewResolver" class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
        <beans:property name="cache" value="true"/>
        <beans:property name="prefix" value=""/>
        <beans:property name="suffix" value=".html"/>
        <beans:property name="exposeSpringMacroHelpers" value="true"/>
    </beans:bean>
-->

	<!--property connect to BD:name bd,port,username,password -->
	<beans:bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"	destroy-method="close">
		<beans:property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<beans:property name="url" value="jdbc:mysql://localhost:3306/social_community" />
		<beans:property name="username" value="root" />
		<beans:property name="password" value="" />
	</beans:bean>

	<beans:bean id="hibernate4AnnotatedSessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<beans:property name="dataSource" ref="dataSource" />
		<beans:property name="annotatedClasses">
			<beans:list>
				<beans:value>com.dancosoft.socialcommunity.model.Account</beans:value>
				<beans:value>com.dancosoft.socialcommunity.model.AccountForum</beans:value>
				<beans:value>com.dancosoft.socialcommunity.model.AccountGroup</beans:value>
				<beans:value>com.dancosoft.socialcommunity.model.AccountGroupHistory</beans:value>
				<beans:value>com.dancosoft.socialcommunity.model.AccountHistory</beans:value>
				<beans:value>com.dancosoft.socialcommunity.model.City</beans:value>
				<beans:value>com.dancosoft.socialcommunity.model.Country</beans:value>
				<beans:value>com.dancosoft.socialcommunity.model.EventPattern</beans:value>
				<beans:value>com.dancosoft.socialcommunity.model.Forum</beans:value>
				<beans:value>com.dancosoft.socialcommunity.model.ForumMessage</beans:value>
				<beans:value>com.dancosoft.socialcommunity.model.ForumTopic</beans:value>
				<beans:value>com.dancosoft.socialcommunity.model.GroupEvent</beans:value>
				<beans:value>com.dancosoft.socialcommunity.model.GroupMember</beans:value>
				<beans:value>com.dancosoft.socialcommunity.model.GroupMessage</beans:value>
				<beans:value>com.dancosoft.socialcommunity.model.Language</beans:value>
				<beans:value>com.dancosoft.socialcommunity.model.SecurityPrompt</beans:value>
				<beans:value>com.dancosoft.socialcommunity.model.SingleMessage</beans:value>
				<beans:value>com.dancosoft.socialcommunity.model.User</beans:value>
				<beans:value>com.dancosoft.socialcommunity.model.UserAutobiography</beans:value>
				<beans:value>com.dancosoft.socialcommunity.model.UserCorespondence</beans:value>
				<beans:value>com.dancosoft.socialcommunity.model.UserEmail</beans:value>
				<beans:value>com.dancosoft.socialcommunity.model.UserLocation</beans:value>
				<beans:value>com.dancosoft.socialcommunity.model.UserPhoto</beans:value>
				<beans:value>com.dancosoft.socialcommunity.model.UserRole</beans:value>
				<beans:value>com.dancosoft.socialcommunity.model.UserSecurity</beans:value>
				<beans:value>com.dancosoft.socialcommunity.model.UserSocialNetwork</beans:value>
			</beans:list>
		</beans:property>
		
		<beans:property name="hibernateProperties">
			<beans:props>
				<beans:prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</beans:prop>
				<beans:prop key="hibernate.show_sql">true</beans:prop>
				<beans:prop key="hibernate.format_sql">true</beans:prop>
				<beans:prop key="connection.pool_size">1</beans:prop>
				<beans:prop key="hibernate.id.new_generator_mappings">true</beans:prop>
				<beans:prop key="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</beans:prop>
				<!--<beans:prop  key="hibernate.hbm2ddl.auto">create-drop</beans:prop>-->
			</beans:props>
		</beans:property>
	</beans:bean>

	<!--dao beans -->

	<beans:bean id="commonEntityDAO" class="com.dancosoft.socialcommunity.dao.impl.CommonEntityDAOImpl">
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</beans:bean>

	<beans:bean id="accountDAO" class="com.dancosoft.socialcommunity.dao.impl.AccountDAOImpl">
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</beans:bean>
	
	<beans:bean id="accountForumDAO" class="com.dancosoft.socialcommunity.dao.impl.AccountForumDAOImpl">
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</beans:bean>

	<beans:bean id="accountGroupDAO" class="com.dancosoft.socialcommunity.dao.impl.AccountGroupDAOImpl">
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</beans:bean>
 	
	<beans:bean id="accountGroupHistoryDAO" class="com.dancosoft.socialcommunity.dao.impl.AccountGroupHistoryDAOImpl">
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</beans:bean>
	
	<beans:bean id="accountHistoryDAO" class="com.dancosoft.socialcommunity.dao.impl.AccountHistoryDAOImpl">
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</beans:bean>

	<beans:bean id="cityDAO" class="com.dancosoft.socialcommunity.dao.impl.CityDAOImpl">
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</beans:bean>
 	
	<beans:bean id="countryDAO" class="com.dancosoft.socialcommunity.dao.impl.CountryDAOImpl">
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</beans:bean>
	
	<beans:bean id="eventPatternDAO" class="com.dancosoft.socialcommunity.dao.impl.EventPatternDAOImpl">
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</beans:bean>
	
	<beans:bean id="forumDAO" class="com.dancosoft.socialcommunity.dao.impl.ForumDAOImpl">
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</beans:bean>
	
	<beans:bean id="forumMessageDAO" class="com.dancosoft.socialcommunity.dao.impl.ForumMessageDAOImpl">
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</beans:bean>
		
	<beans:bean id="forumTopicDAO" class="com.dancosoft.socialcommunity.dao.impl.ForumTopicDAOImpl">
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</beans:bean>

	<beans:bean id="groupEventDAO" class="com.dancosoft.socialcommunity.dao.impl.GroupEventDAOImpl">
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</beans:bean>

	<beans:bean id="groupMemberDAO" class="com.dancosoft.socialcommunity.dao.impl.GroupMemberDAOImpl">
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</beans:bean>
 
	<beans:bean id="groupMessageDAO" class="com.dancosoft.socialcommunity.dao.impl.GroupMessageDAOImpl">
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</beans:bean>
		
	<beans:bean id="languageDAO" class="com.dancosoft.socialcommunity.dao.impl.LanguageDAOImpl">
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</beans:bean>

	<beans:bean id="securityPromptDAO" class="com.dancosoft.socialcommunity.dao.impl.SecurityPromptDAOImpl">
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</beans:bean>

	<beans:bean id="singleMessageDAO" class="com.dancosoft.socialcommunity.dao.impl.SingleMessageDAOImpl">
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</beans:bean>

	<beans:bean id="userDAO" class="com.dancosoft.socialcommunity.dao.impl.UserDAOImpl">
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</beans:bean>
 	
	<beans:bean id="userAutobiographyDAO" class="com.dancosoft.socialcommunity.dao.impl.UserAutobiographyDAOImpl">
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</beans:bean>

	<beans:bean id="userCorespondenceDAO" class="com.dancosoft.socialcommunity.dao.impl.UserCorespondenceDAOImpl">
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</beans:bean>
	
	<beans:bean id="userEmailDAO" class="com.dancosoft.socialcommunity.dao.impl.UserEmailDAOImpl">
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</beans:bean>
 	
	<beans:bean id="userLocationDAO" class="com.dancosoft.socialcommunity.dao.impl.UserLocationDAOImpl">
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</beans:bean>
	
	<beans:bean id="userPhotoDAO" class="com.dancosoft.socialcommunity.dao.impl.UserPhotoDAOImpl">
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</beans:bean>
	
	<beans:bean id="userRoleDAO" class="com.dancosoft.socialcommunity.dao.impl.UserRoleDAOImpl">
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</beans:bean>

	<beans:bean id="userSecurityDAO" class="com.dancosoft.socialcommunity.dao.impl.UserSecurityDAOImpl">
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</beans:bean>

	<beans:bean id="userSocialNetworkDAO" class="com.dancosoft.socialcommunity.dao.impl.UserSocialNetworkDAOImpl">
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</beans:bean>

 
	<!--services -->
<!--
	<beans:bean id="commonEntityService" class="com.dancosoft.socialcommunity.service.impl.CommonEntityServiceImpl">
		<beans:property name="commonEntityDAO" ref="commonEntityDAO"></beans:property>
	</beans:bean>

	<beans:bean id="accountForumServcie" class="com.dancosoft.socialcommunity.service.impl.AccountForumServcieImpl">
		<beans:property name="accountForumDAO" ref="accountForumDAO"></beans:property>
	</beans:bean>

	<beans:bean id="accountGroupHistoryServcie" class="com.dancosoft.socialcommunity.service.impl.AccountGroupHistoryServcieImpl">
		<beans:property name="accountGroupHistoryDAO" ref="accountGroupHistoryDAO"></beans:property>
	</beans:bean>
	
	<beans:bean id="accountGroupServcie" class="com.dancosoft.socialcommunity.service.impl.AccountGroupServcieImpl">
		<beans:property name="accountGroupHistoryDAO" ref="accountGroupHistoryDAO"></beans:property>
	</beans:bean>
	
	<beans:bean id="accountHistoryServcie" class="com.dancosoft.socialcommunity.service.impl.AccountHistoryServcieImpl">
		<beans:property name="accountHistoryDAO" ref="accountHistoryDAO"></beans:property>
	</beans:bean>
	
	<beans:bean id="accountServcie" class="com.dancosoft.socialcommunity.service.impl.AccountServcieImpl">
		<beans:property name="accountDAO" ref="accountDAO"></beans:property>
	</beans:bean>
	
	<beans:bean id="cityServcie" class="com.dancosoft.socialcommunity.service.impl.CityServcieImpl">
		<beans:property name="cityDAO" ref="cityDAO"></beans:property>
	</beans:bean>
	
	<beans:bean id="countryServcie" class="com.dancosoft.socialcommunity.service.impl.CountryServcieImpl">
		<beans:property name="countryDAO" ref="countryDAO"></beans:property>
	</beans:bean>
	
	<beans:bean id="eventPatternServcie" class="com.dancosoft.socialcommunity.service.impl.EventPatternServcieImpl">
		<beans:property name="eventPatternDAO" ref="eventPatternDAO"></beans:property>
	</beans:bean>

	<beans:bean id="forumMessageServcie" class="com.dancosoft.socialcommunity.service.impl.ForumMessageServcieImpl">
		<beans:property name="forumMessageDAO" ref="forumMessageDAO"></beans:property>
	</beans:bean>

	<beans:bean id="forumServcie" class="com.dancosoft.socialcommunity.service.impl.ForumServcieImpl">
		<beans:property name="forumDAO" ref="forumDAO"></beans:property>
	</beans:bean>
	
	<beans:bean id="forumTopicServcie" class="com.dancosoft.socialcommunity.service.impl.ForumTopicServcieImpl">
		<beans:property name="forumTopicDAO" ref="forumTopicDAO"></beans:property>
	</beans:bean>
	
	<beans:bean id="groupEventServcie" class="com.dancosoft.socialcommunity.service.impl.GroupEventServcieImpl">
		<beans:property name="groupEventDAO" ref="groupEventDAO"></beans:property>
	</beans:bean>
	
	<beans:bean id="groupMemberService" class="com.dancosoft.socialcommunity.service.impl.GroupMemberServiceImpl">
		<beans:property name="groupMemberDAO" ref="groupMemberDAO"></beans:property>
	</beans:bean>
	
	<beans:bean id="groupMessageServcie" class="com.dancosoft.socialcommunity.service.impl.GroupMessageServcieImpl">
		<beans:property name="groupMessageDAO" ref="groupMessageDAO"></beans:property>
	</beans:bean>

	<beans:bean id="languageServcie" class="com.dancosoft.socialcommunity.service.impl.LanguageServcieImpl">
		<beans:property name="languageDAO" ref="languageDAO"></beans:property>
	</beans:bean>
	
	<beans:bean id="securityPromptServcie" class="com.dancosoft.socialcommunity.service.impl.SecurityPromptServcieImpl">
		<beans:property name="securityPromptDAO" ref="securityPromptDAO"></beans:property>
	</beans:bean>
	
	<beans:bean id="singleMessageServcie" class="com.dancosoft.socialcommunity.service.impl.SingleMessageServcieImpl">
		<beans:property name="singleMessageDAO" ref="singleMessageDAO"></beans:property>
	</beans:bean>
	
	<beans:bean id="userAutobiographyServcie" class="com.dancosoft.socialcommunity.service.impl.UserAutobiographyServcieImpl">
		<beans:property name="userAutobiographyDAO" ref="userAutobiographyDAO"></beans:property>
	</beans:bean>

	<beans:bean id="userCorespondenceServcie" class="com.dancosoft.socialcommunity.service.impl.UserCorespondenceServcieImpl">
		<beans:property name="userCorespondenceDAO" ref="userCorespondenceDAO"></beans:property>
	</beans:bean>
	
	<beans:bean id="userEmailServcie" class="com.dancosoft.socialcommunity.service.impl.UserEmailServcieImpl">
		<beans:property name="userEmailDAO" ref="userEmailDAO"></beans:property>
	</beans:bean>
	
	<beans:bean id="userLocationServcie" class="com.dancosoft.socialcommunity.service.impl.UserLocationServcieImpl">
		<beans:property name="userLocationDAO" ref="userLocationDAO"></beans:property>
	</beans:bean>
	
	<beans:bean id="userPhotoServcie" class="com.dancosoft.socialcommunity.service.impl.UserPhotoServcieImpl">
		<beans:property name="userPhotoDAO" ref="userPhotoDAO"></beans:property>
	</beans:bean>
	
	<beans:bean id="userRoleServcie" class="com.dancosoft.socialcommunity.service.impl.UserRoleServcieImpl">
		<beans:property name="userRoleDAO" ref="userRoleDAO"></beans:property>
	</beans:bean>
	
	<beans:bean id="userSecurityServcie" class="com.dancosoft.socialcommunity.service.impl.UserSecurityServcieImpl">
		<beans:property name="userSecurityDAO" ref="userSecurityDAO"></beans:property>
	</beans:bean>
	
	<beans:bean id="userServcie" class="com.dancosoft.socialcommunity.service.impl.UserServcieImpl">
		<beans:property name="userDAO" ref="userDAO"></beans:property>
	</beans:bean>

	<beans:bean id="userSocialNetworkServcie" class="com.dancosoft.socialcommunity.service.impl.UserSocialNetworkServcieImpl">
		<beans:property name="userSocialNetworkDAO" ref="userSocialNetworkDAO"></beans:property>
	</beans:bean>
 -->

	<!-- test -->
	<beans:bean id="testObjectCreator" class="com.dancosoft.socialcommunity.TestObjectCreator">
		<beans:property name="commonEntityDAO" ref="commonEntityDAO"/>
	</beans:bean>
	
	<context:annotation-config/>
	
	<context:component-scan base-package="com.dancosoft.socialcommunity">
		<context:include-filter type="regex" expression="com.dancosoft.socialcommunity.*"/>	
		<context:include-filter type="regex" expression="com.dancosoft.socialcommunity.dao.*"/>
		<context:include-filter type="regex" expression="com.dancosoft.socialcommunity.service.*"/>
		<context:include-filter type="regex" expression="com.dancosoft.socialcommunity.controller.*"/>
	</context:component-scan>
	
	<beans:bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
		<beans:property name="dataSource" ref="dataSource" />
	</beans:bean>

	<tx:annotation-driven transaction-manager="transactionManager"/>
		
</beans:beans>