<style>

tbody {
    height: 100px;       
    overflow-y: auto;   
    overflow-x: hidden;
}

input[type="text"] {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 5px;
	outline: none;
	width: 200px;
	margin: 10px 10px 10px 10px;
}

</style>


<title>Edit Forum Group member.</title>
<div class="col-md-2">
  <ul class="nav nav-pills nav-stacked">
  	<li>
	  <div class="panel panel" style="background-color:#92A7B8" style="opacity: 0">
			<div class="panel-heading">
			     <h4 class="panel-title">
			       <a data-toggle="collapse" data-target="#collapse1">Profile Detail</a>
			     </h4>
			</div>
			<div id="collapse1" class="panel-collapse collapse">
			    <form>
				  <div class="panel-body">
				  	<p><a ng-click="returnToParlor(id)">My Profile</a></p> 
					<p><a ng-click="loadCommonUserProfile(id)">My Common Profile</a></p>
					<p><a ng-click="loadExtendedUserProfile(id)">My Extended Profile</a></p>
					<a ng-click="loadUserAutobiography(id)">My Autobiography</a>
				  </div>
			    </form>    
			</div>
	   </div>
	</li>
    <li>
	  <div class="panel panel" style="background-color:#92A7B8" style="opacity: 0">
			<div class="panel-heading">
			     <h4 class="panel-title">
			       <a data-toggle="collapse" ng-click="getListAccountGroup(id)" data-target="#collapse2">Groups</a>
			     </h4>
			</div>
			<div id="collapse2" class="panel-collapse collapse">
			    <form>
				  <div class="panel-body">
				  	 <div ng-show="listAccountGroup.length > 0">
						<div ng-repeat="accountGroup in listAccountGroup">
							<p><a ng-click="getAccountGroup(id,accountGroup.idAccountGroup)">{{accountGroup.groupName}}</a></p>
						</div>
				 	 </div>
				 	 <a ng-click="createAccountGroup(id)">+ new group</a>
				  </div>
			    </form>    
			</div>
	   </div>
	 </li>
     <li>
	   <div class="panel panel" style="background-color:#92A7B8" style="opacity: 0">
			<div class="panel-heading">
			     <h4 class="panel-title">
			       <a data-toggle="collapse" ng-click="getListForum(id)" data-target="#collapse3">Forums</a>
			     </h4>
			</div>
			<div id="collapse3" class="panel-collapse collapse">
			    <form>
				  <div class="panel-body">
				  	 <div ng-show="listForum.length > 0">
						<div ng-repeat="forum in listForum">
							<p><a ng-click="getForum(id, forum.idForum)">{{forum.forumName}}</a></p>
						</div>
				 	 </div>
				  </div>
			    </form>     
			</div>
	    </div>
	 </li> 
  </ul>
</div>

<div class="col-lg-8 col-lg-offset-0">
 <div class="well">
   <div class="container">
	   <div class="row">
		  <div class="col-lg-8">   
		     <form name="myForm" class="form-horizontal">
		  	     <fieldset>
				    <a ui-sref="editaccountgroupmember"></a>
				    
					<div class="panel-heading">
					   <h4 class="panel-title">
						   <a data-toggle="collapse" ng-click="loadListAccountGroupMember(idAccountGroup)" data-target="#collapse6">Show Group Members</a>
					   </h4>
					</div>  
				    <div id="collapse6" class="panel-collapse collapse">
					   <div class="panel-body">
							<div ng-show="listAccountGroupMember.length > 0">
							    <table class="table table-bordered"	style="background-color: #ffffff">
								     <thead>
										<tr>
											<th>Account Name</th>
											<th>Last Name</th>
											<th>First Name</th>
											<th>Sex</th>
											<th>Status Friend</th>
											<th>Operation</th>
										</tr>
									</thead>
									<tbody>
				         				<tr ng-repeat="accountGroupMember in listAccountGroupMember">
										   <td>{{accountGroupMember.memberAccount.accountName}}</td>
										   <td>{{accountGroupMember.memberAccount.user.lastName}}</td>
										   <td>{{accountGroupMember.memberAccount.user.firstName}}</td>
										   <td>{{accountGroupMember.memberAccount.user.sex}}</td>
										   <td>{{accountGroupMember.groupMemberStatus}}</td>
										   <td ng-if="idAccountGroupMember != accountGroupMember.idGroupMember">
											   <a type="submit" ng-click="getAccountGroupMemberInfo(id,idAccountGroupMember,
											   	 idAccountGroup,accountGroupMember.idGroupMember)">More info</a>
											    <a type="submit" ng-click="deleteMemberFromAccountGroup(id,idAccountGroupMember,
												   idAccountGroup,accountGroupMember.idGroupMember)">Delete</a>
										   </td>
										</tr>	
									</tbody>
							   </table>
							</div>
				         </div>
			         </div>	
			             
			         <div class="panel-heading">
					   <h4 class="panel-title">
						   <a data-toggle="collapse" data-target="#collapse7">Search New Members</a>
					   </h4>
					 </div>  
				     <div id="collapse7" class="panel-collapse collapse">
					   <div class="panel-body">
						 <div style="display:inline-block; outline: 2px solid #000;">
						     <div>Please enter account name or last name!</div>
							 <input type="text" id="accountName" ng-model="searchPattern.accountName" placeholder="Enter account name.">      
						     <input type="text" id="userLastName" ng-model="searchPattern.userLastName" placeholder="Enter last name.">						 
						 	 <button type="submit" class="btn btn-xs btn-primary"
						 	  ng-click="searchAccountForAccountGroup(idAccountGroup, searchPattern)">Search..</button>
						 </div>
					   	 <div ng-show="listAccount.length > 0">
						   <table class="table table-bordered" style="background-color:#ffffff">
							   <thead>
								  <tr>
									<th>Account Name</th>
								    <th>Last Name</th>
									<th>First Name</th>
									<th>Friend Status</th>
									<td>More Info/Add To Group</td>
								  </tr>
							  </thead>
							  <tbody> 
								  <tr ng-repeat="account in listAccount">
								  
									 <td>{{account.accountName}}</td>
									 <td>{{account.user.lastName}}</td>
									 <td>{{account.user.firstName}}</td>
									 <td ng-if="id != account.user.idUser">
									 	<input type="checkbox" id="prompt" class="btn btn-primary" ng-click="friendStatus=true"> 
									 </td>
									 <td ng-if="id != account.user.idUser">
										<a type="submit" ng-click="">Info </a>
									    <a type="submit" ng-click="addToAccountGroup(idAccountGroup,account.idAccount,friendStatus)">Add</a>
									 </td>
								   </tr>	 
							   </tbody>
							</table>
						 </div>
				      </div>
			        </div>	            
		       </fieldset>
			</form>
          </div>
       </div>
   </div> 
 </div>  
</div>
 
<div class="col-md-2">
	<ul class="nav nav-pills nav-stacked">
	  <li>
		  <div class="panel panel" style="background-color:#92A7B8">
			   <div class="panel-heading">
			        <h4 class="panel-title">
			          <a data-toggle="collapse" data-target="#collapse">Search Account </a>
			        </h4>
			   </div>
			   <div id="collapse" class="panel-collapse collapse">
			     <form>
				    <div class="panel-body">
						<input type="text" id="accountName" class="form-control" placeholder="Enter Account" /><br>
						<button type="submit" class="btn btn-xs btn-primary" style="float: right">Search</button>
				    </div>
				    <!--
				    <div class="panel-footer">
						<button type="submit" class="btn btn-xs btn-primary">Search</button>
				    </div>
				    -->
				</form>    
			 </div>
	     </div>
	  </li>
	  <li>
	   <div class="panel panel" style="background-color:#92A7B8">
			   <div class="panel-heading">
			        <h4 class="panel-title">
			          <a data-toggle="collapse"  data-target="#collapse5">Edit Account Group</a>
			        </h4>
			   </div>
			   <div id="collapse5" class="panel-collapse collapse">
			     <form>
				    <div class="panel-body">
						<p><a ng-click="editGroupSettings(idAccountGroup)">Edit Group Settings</a></p> 
						<a ng-click="editAccountGroupMember(id,idAccountGroupMember,idAccountGroup)">Edit Group Member</a>
				    </div>
				</form>    
			 </div>
	     </div>
	  </li>
	  
	</ul>
</div>
