<style>

input:invalid {
  border: 1px solid red;
}

input:valid {
  border: 1px solid green;
}

</style>

<title>Forum Topics</title>
<div class="col-md-2">
  <ul class="nav nav-pills nav-stacked">
  	<li>
	  <div class="panel panel" style="background-color:#92A7B8" style="opacity: 0">
			<div class="panel-heading">
			     <h4 class="panel-title">
			       <a data-toggle="collapse" data-target="#collapse1">Profile Detail</a>
			     </h4>
			</div>
			<div id="collapse1" class="panel-collapse collapse">
			    <form>
				  <div class="panel-body">
				  	<p><a ng-click="returnToParlor(id)">My Profile</a></p> 
					<p><a ng-click="loadCommonUserProfile(id)">My Common Profile</a></p>
					<p><a ng-click="loadExtendedUserProfile(id)">My Extended Profile</a></p>
					<a ng-click="loadUserAutobiography(id)">My Autobiography</a>
				  </div>
			    </form>    
			</div>
	   </div>
	</li>
    <li>
	  <div class="panel panel" style="background-color:#92A7B8" style="opacity: 0">
			<div class="panel-heading">
			     <h4 class="panel-title">
			       <a data-toggle="collapse" ng-click="getListAccountGroup(id)" data-target="#collapse2">Groups</a>
			     </h4>
			</div>
			<div id="collapse2" class="panel-collapse collapse">
			    <form>
				  <div class="panel-body">
				  	 <div ng-show="listAccountGroup.length > 0">
						<div ng-repeat="accountGroup in listAccountGroup">
							<p><a ng-click="getAccountGroup(id,accountGroup.idAccountGroup)">{{accountGroup.groupName}}</a></p>
						</div>
				 	 </div>
				 	 <a ng-click="createAccountGroup(id)">+ new group</a>
				  </div>
			    </form>    
			</div>
	   </div>
	 </li>
     <li>
	   <div class="panel panel" style="background-color:#92A7B8" style="opacity: 0">
			<div class="panel-heading">
			     <h4 class="panel-title">
			       <a data-toggle="collapse" ng-click="getListForum(id)" data-target="#collapse3">Forums</a>
			     </h4>
			</div>
			<div id="collapse3" class="panel-collapse collapse">
			    <form>
				  <div class="panel-body">
				  	 <div ng-show="listForum.length > 0">
						<div ng-repeat="forum in listForum">
							<p><a ng-click="getForum(id, forum.idForum)">{{forum.forumName}}</a></p>
						</div>
				 	 </div>
				  </div>
			    </form>     
			</div>
	    </div>
	 </li>
  </ul>
</div>

<div class="col-lg-7 col-lg-offset-1">
	<div class="well">
	    <div class="container">
		    <div class="row">
			   <div class="col-lg-7">
				<form name="myForm" class="form-horizontal">
				   <fieldset>
				   	<legend style="text-align: center;">Welcome To Forum</legend>
						<a ui-sref="editlistforumtopic"></a>
						   <div class="panel-heading">
						      <h4 class="panel-title">
						          <a data-toggle="collapse" class="glyphicon glyphicon-triangle-bottom"
						           ng-click="loadListForumTopic(idForum)" data-target="#collapse6">Topics By Name</a>
						      </h4>
						   </div>
						   <div id="collapse6" class="panel-collapse collapse">
							  <div class="panel-body">
									<div ng-show="listForumTopic.length > 0">
										<table class="table table-bordered" style="background-color:#ffffff">
										   <thead>
											<tr>
											   <th>Topic Name</th>
										       <th>Date</th>
											   <th>Author</th>
											   <th>Link</th>
											 </tr>
										   </thead>
										   <tbody> 
										     <tr ng-repeat="topic in listForumTopic">
											    <td>{{topic.forumTopic}}</td>
												<td><!--{{topic.dateCreateForumTopic}}--></td>
												<td>{{topic.authorAccount.accountName}}</td>
												<td>
										     		<a type="submit" ng-click="getTopicMessages(id,topic.idForumTopic)">Dialog...</a>
												</td>
											  </tr>	 
											</tbody>
										</table>
									 </div>
							   </div>
						 </div>	
				   </fieldset>
				</form>
	        </div>
	     </div>
	 </div>
   </div>
</div>
 
 
<div class="col-md-2 col-lg-offset-0">
	<ul class="nav nav-pills nav-stacked">
	  <li>
		  <div class="panel panel" style="background-color:#92A7B8">
			   <div class="panel-heading">
			        <h4 class="panel-title">
			          <a data-toggle="collapse" data-target="#collapse4">Search Account</a>
			        </h4>
			   </div>
			   <div id="collapse4" class="panel-collapse collapse">
			     <form>
				    <div class="panel-body">
						<input type="text" id="accountName" class="form-control" placeholder="Enter Account" /><br>
						<button type="submit" class="btn btn-xs btn-primary" style="float: right">Search</button>
				    </div>
				    <!--
				    <div class="panel-footer">
						<button type="submit" class="btn btn-xs btn-primary">Search</button>
				    </div>
				    -->
				</form>    
			 </div>
	     </div>
	  </li>
	  <li>
	   <div class="panel panel" style="background-color:#92A7B8">
			   <div class="panel-heading">
			        <h4 class="panel-title">
			          <a data-toggle="collapse"  data-target="#collapse5">Create New Topic</a>
			        </h4>
			   </div>
			   <div id="collapse5" class="panel-collapse collapse">
			     <form>
				    <div class="panel-body">
				    	<input type="hidden" id="idForum" ng-model="newForumTopic.forum.idForum"
				    	 ng-init="newForumTopic.forum.idForum=idForum">
				    	 
						<input type="text" id="forumTopicName" ng-model="newForumTopic.forumTopic" class="form-control" placeholder="Name" /><br>
						<button type="submit" class="btn btn-xs btn-primary" ng-disabled="!newForumTopic.forumTopic"
						   style="float: right;" ng-click="saveNewForumTopic(id,newForumTopic)">Save</button>
				    </div>
				</form>    
			 </div>
	     </div>
	  </li>
	</ul>
</div>