
<style>
	
.sign {
    float: left; /* Выравнивание по правому краю */
    border: 1px solid #333; /* Параметры рамки */
    padding: 7px; /* Поля внутри блока */
    margin: 10px 0 5px 5px; /* Отступы вокруг */
    background: #f0f0f0; /* Цвет фона */ 
}
.sign figcaption {
    margin: 0 auto 5px; /* Отступы вокруг абзаца */
}
	
</style>


<div class="col-md-2">
  <ul class="nav nav-pills nav-stacked">
  	<li>
	  <div class="panel panel" style="background-color:#92A7B8" style="opacity: 0">
			<div class="panel-heading">
			     <h4 class="panel-title">
			       <a data-toggle="collapse" data-target="#collapse1">Profile Detail</a>
			     </h4>
			</div>
			<div id="collapse1" class="panel-collapse collapse">
			    <form>
				  <div class="panel-body"> 
					<p><a ng-click="loadCommonAdminProfile(idAdmin)">My Common Profile</a></p>
					<a ng-click="loadExtendedAdminProfile(idAdmin)">My Extended Profile</a>
				  </div>
			    </form>    
			</div>
	   </div>
	</li>
    <li>
	  <div class="panel panel" style="background-color:#92A7B8" style="opacity: 0">
			<div class="panel-heading">
			     <h4 class="panel-title">
			       <a data-toggle="collapse" data-target="#collapse2">Group</a>
			     </h4>
			</div>
			<div id="collapse2" class="panel-collapse collapse">
			    <form>
				    <div class="panel-body">
				       <a ng-click="getSearchAccountGroupPage(idAdmin)">Search Group</a>
				    </div>
			    </form>    
			</div>
	   </div>
	 </li>
     <li>
	   <div class="panel panel" style="background-color:#92A7B8" style="opacity: 0">
			<div class="panel-heading">
			     <h4 class="panel-title">
			       <a data-toggle="collapse" data-target="#collapse3">Forum</a>
			     </h4>
			</div>
			<div id="collapse3" class="panel-collapse collapse">
			    <form>
				  <p><a ng-click="getListForumToEdit(idAdmin)">Edit Forum</a></p>
				  <a ng-click="createNewForum(idAdmin)">+ New Forum</a>
			    </form>    
			</div>
	    </div>
	  </li>
	  <li>
	   <div class="panel panel" style="background-color:#92A7B8" style="opacity: 0">
			<div class="panel-heading">
			     <h4 class="panel-title">
			       <a data-toggle="collapse" data-target="#collapse8">Event Pattern</a>
			     </h4>
			</div>
			<div id="collapse8" class="panel-collapse collapse">
			    <form>
				    <div class="panel-body">
				       <a ng-click="getEventPatternPage(idAdmin)">Edit Event Pattern</a>
				    </div>
				</form>   
			</div>
	    </div>
	 </li>
  </ul>
</div>

<title>Admin parlor</title>
<div ng-controller="AdministratorController">
  <div class="col-lg-8 col-lg-offset-0">
	<div class="well">
	    <div class="container">
		    <div class="row">
			   <div class="col-lg-8">
				<form name="myForm" class="form-horizontal">
					<fieldset>
						<a ui-sref="adminparlor"></a>
						<legend>Admin Parlor Form</legend>
							<figure class="sign">
							   <p><img src="" width="150" height="200" alt=""></p>
							  	  <figcaption>
							  		<div ng-show="adminParlorData.userPhoto.photoNote != null ">
							  			{{adminParlorData.userPhoto.photoNote}} 
							  		</div>
							  	  </figcaption>
							</figure>
							<div class="form-group">
								<div style="text-indent: 20px;">
							    	<strong>First Name :</strong> {{adminParlorData.user.firstName}}<br>
							    </div>	
							    <div style="text-indent: 20px;">
						     		<strong>Last Name:</strong>{{adminParlorData.user.lastName}} <br>
						     	</div>
						     	<div ng-show="adminParlorData.user.middleName != null" style="text-indent: 20px;">
							     	 <strong>Middle Name:</strong>{{adminParlorData.user.middleName}}
								</div>
								<div style="text-indent: 20px;">
									 <strong>Sex:</strong>{{adminParlorData.user.sex}}
								</div>
								<div style="text-indent: 20px;">
									 <strong>Birth:</strong>{{adminParlorData.userAutobiography.birth | date: "yyyy-MM-dd" }}
								</div>
								<div ng-show="adminParlorData.userLocation.city.cityName != null" style="text-indent: 20px;">
										<strong>Location:</strong>{{adminParlorData.userLocation.city.country.countryName}},
							    	   	{{adminParlorData.userLocation.city.cityName}}
								</div>
								<div style="text-indent: 20px;">
									 <strong>Email:</strong>{{adminParlorData.userEmail.userEmail}}
								</div>
							</div>
					 </fieldset>
				</form>
	          </div>
	        </div>
	     </div>
      </div>
   </div>
</div>
 
<div class="col-md-2">
	<ul class="nav nav-pills nav-stacked">
	  <li>
		  <div class="panel panel" style="background-color:#92A7B8">
			   <div class="panel-heading">
			        <h4 class="panel-title">
			          <a data-toggle="collapse" data-target="#collapse">Account</a>
			        </h4>
			   </div>
			   <div id="collapse" class="panel-collapse collapse">
			     <form>
				    <div class="panel-body">
				       <a ng-click="getPageSearchAccount(idAdmin)">Search Account</a>
				    </div>
				</form>    
			 </div>
	     </div>
	  </li>
	</ul>
</div>

