<style>
	
input:invalid {
  border: 1px solid red;
}

input:valid {
  border: 1px solid green;
}

</style>

<div class="col-md-2">
  <ul class="nav nav-pills nav-stacked">
  	<li>
	  <div class="panel panel" style="background-color:#92A7B8" style="opacity: 0">
			<div class="panel-heading">
			     <h4 class="panel-title">
			       <a data-toggle="collapse" data-target="#collapse1">Profile Detail</a>
			     </h4>
			</div>
			<div id="collapse1" class="panel-collapse collapse">
			    <form>
				  <div class="panel-body">
					<p><a ng-click="returnToParlor(id)">My Profile</a></p>
					<p><a ng-click="loadExtendedUserProfile(id)">My Extended Profile</a></p>
					<a ng-click="loadUserAutobiography(id)">My Autobiography</a>
				  </div>
			    </form>    
			</div>
	   </div>
	</li>
 
    <li>
	  <div class="panel panel" style="background-color:#92A7B8" style="opacity: 0">
			<div class="panel-heading">
			     <h4 class="panel-title">
			       <a data-toggle="collapse" ng-click="getListAccountGroup(id)" data-target="#collapse2">Groups</a>
			     </h4>
			</div>
			<div id="collapse2" class="panel-collapse collapse">
			    <form>
				  <div class="panel-body">
				  	 <div ng-show="listAccountGroup.length > 0">
						<div ng-repeat="accountGroup in listAccountGroup">
							<p><a ng-click="getAccountGroup(id,accountGroup.idAccountGroup)">{{accountGroup.groupName}}</a></p>
						</div>
				 	 </div>
				 	 <a ng-click="createAccountGroup(id)">+ new group</a>
				  </div>
			    </form>    
			</div>
	   </div>
	 </li>

     <li>
	   <div class="panel panel" style="background-color:#92A7B8" style="opacity: 0">
			<div class="panel-heading">
			     <h4 class="panel-title">
			       <a data-toggle="collapse" ng-click="getListForum(id)" data-target="#collapse3">Forums</a>
			     </h4>
			</div>
			<div id="collapse3" class="panel-collapse collapse">
			    <form>
				  <div class="panel-body">
				  	 <div ng-show="listForum.length > 0">
						<div ng-repeat="forum in listForum">
							<p><a ng-click="getForum(id, forum.idForum)">{{forum.forumName}}</a></p>
						</div>
				 	 </div>
				  </div>
			    </form>     
			</div>
	    </div>
	 </li>
  </ul>
</div>

<title>Edit Common Profile Form</title>
<div ng-controller="UserController">
  <div class="col-lg-8 col-lg-offset-0">
	<div class="well">
	    <div class="container">
		    <div class="row">
			   <div class="col-lg-8">
				<form name="myForm" class="form-horizontal">
					<fieldset>
						<a ui-sref="editcommonprofile"></a>
						<legend style="text-align: center;">Edit User Common Info</legend>
						<div class="form-group">
					        <label for="userFirstName" class="col-lg-3 control-label">First Name</label>
					        <div class="col-lg-8">
					            <input type="text" class="form-control" id="firstName" ng-model="user.firstName" placeholder="Must not empty"
					            required pattern=".{1,}" title="1 character minimum"
					            onkeypress='return !(event.charCode >= 47 && event.charCode <= 57)'>
					        </div>
					    </div>
					    <div class="form-group">
					        <label for="lastName" class="col-lg-3 control-label">Last Name</label>
					        <div class="col-lg-8">
					            <input type="text" class="form-control" id="lastName" ng-model="user.lastName" placeholder="Must not empty"
					            required pattern=".{1,}" title="1 character minimum"
					            onkeypress='return !(event.charCode >= 47 && event.charCode <= 57)'>
					        </div>
					    </div>
					    <div class="form-group">
					        <label for="middleName" class="col-lg-3 control-label">Middle Name</label>
					        <div class="col-lg-8">
					            <input type="text" class="form-control" id="middleName" ng-model="user.middleName" placeholder="May be empty">					 
					        </div>
					    </div>
						<div class="form-group">
							<label for="sex" class="col-lg-3 control-label">Sex </label>
							<div class="col-lg-8">
								<select class="form-control" id="sex" ng-model="user.sex" placeholder="Must select" >
							   	 	<option value="M">M</option>
							     	<option value="M">F</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="controls">  
						         <button type="button" class="btn btn-primary" ng-disabled="!user.firstName || !user.lastName || !user.sex"
						       	 style="float: right;" ng-click="editCommonUserProfile(id,user)">Update</button>   
						       	 
						       	 <button type="button" class="btn btn-primary"
							      style="float: right;" ng-click="returnToParlor(id)">Back</button>     
						    </div>
						</div>
				   </fieldset>
				</form>
	          </div>
	        </div>
	     </div>
      </div>
   </div>
</div>

<div class="col-md-2">
	<ul class="nav nav-pills nav-stacked">
	  <li>
		  <div class="panel panel" style="background-color:#92A7B8">
			   <div class="panel-heading">
			        <h4 class="panel-title">
			          <a data-toggle="collapse" data-target="#collapse">Search</a>
			        </h4>
			   </div>
			   <div id="collapse" class="panel-collapse collapse">
			     <form>
				    <div class="panel-body">
				       <a ng-click="getPageSearchAccount(id)">Search Account</a>
				    </div>
				</form>    
			 </div>
	     </div>
	  </li>	
	</ul>
</div>