
<div class="col-md-2">
  <ul class="nav nav-pills nav-stacked">
  	<li>
	  <div class="panel panel" style="background-color:#92A7B8" style="opacity: 0">
			<div class="panel-heading">
			     <h4 class="panel-title">
			       <a data-toggle="collapse" data-target="#collapse1">Profile Detail</a>
			     </h4>
			</div>
			<div id="collapse1" class="panel-collapse collapse">
			    <form>
				  <div class="panel-body"> 
					<p><a ng-click="loadCommonAdminProfile(idAdmin)">My Common Profile</a></p>
					<a ng-click="loadExtendedAdminProfile(idAdmin)">My Extended Profile</a>
				  </div>
			    </form>    
			</div>
	   </div>
	</li>
    <li>
	  <div class="panel panel" style="background-color:#92A7B8" style="opacity: 0">
			<div class="panel-heading">
			     <h4 class="panel-title">
			       <a data-toggle="collapse" data-target="#collapse2">Group</a>
			     </h4>
			</div>
			<div id="collapse2" class="panel-collapse collapse">
			    <form>
				    <div class="panel-body">
				       <a ng-click="getSearchAccountGroupPage(idAdmin)">Search Group</a>
				    </div>
			    </form>    
			</div>
	   </div>
	 </li>
     <li>
	   <div class="panel panel" style="background-color:#92A7B8" style="opacity: 0">
			<div class="panel-heading">
			     <h4 class="panel-title">
			       <a data-toggle="collapse" data-target="#collapse3">Forum</a>
			     </h4>
			</div>
			<div id="collapse3" class="panel-collapse collapse">
			    <form>
				  <p><a ng-click="getListForumToEdit(idAdmin)">Edit Forum</a></p>
				  <a ng-click="createNewForum(idAdmin)">+ New Forum</a>
			    </form>    
			</div>
	    </div>
	  </li>
	  <li>
	   <div class="panel panel" style="background-color:#92A7B8" style="opacity: 0">
			<div class="panel-heading">
			     <h4 class="panel-title">
			       <a data-toggle="collapse" data-target="#collapse8">Event Pattern</a>
			     </h4>
			</div>
			<div id="collapse8" class="panel-collapse collapse">
			    <form>
				    <div class="panel-body">
				       <a ng-click="getEventPatternPage(idAdmin)">Edit Event Pattern</a>
				    </div>
				</form>   
			</div>
	    </div>
	 </li>
  </ul>
</div>

<title>Search Account Page</title>
<div ng-controller="AdministratorController">
  <div class="col-lg-8 col-lg-offset-0">
	<div class="well">
	    <div class="container">
		    <div class="row">
			   <div class="col-lg-8">
				<form name="myForm" class="form-horizontal">
					<fieldset>
						<a ui-sref="editlistaccount"></a>
						<legend style="text-align: center;">Search Account Page</legend>
							
						<div class="panel-heading">
						   <h4 class="panel-title">
							   <a data-toggle="collapse" data-target="#collapse6">Search Account</a>
						   </h4>
						</div>  
					    <div id="collapse6" class="panel-collapse collapse">
						   <div class="panel-body" style="outline: 2px solid #000;">
								<div class="form-group">
							        <label for="accountName" class="col-lg-3 control-label">Enter Account Name</label>
							        <div class="col-lg-6">
							            <input type="text" class="form-control" id="accountName" ng-model="account.accountName"
							             placeholder="Enter Account Name">				 
							        </div>
							    </div>	<!-- ng-disabled="!account.accountName" -->
								<button type="submit" class="btn btn-xs btn-primary"
								 style="float:right;" ng-click="searchAccount(account)">Search</button>   
							</div>	
						</div>
						<br>
						<div ng-show="accountList.length > 0">
							<table class="table table-bordered" style="background-color: #ffffff">
							   <thead>
								 <tr>
									<th>Account</th>
									<th>LastName</th>
									<th>FirstName</th>
									<th>ChangeStatus</th>
									<th>Info</th>
									<th>Messages</th>
								 </tr>
							  </thead>
								  <tbody>
				      			      <tr ng-repeat="account in accountList">
				      			      	 <td>{{account.accountName}}</td>
				      			      	 <td>{{account.user.lastName}}</td>
				      			      	 <td>{{account.user.firstName}}</td>
				      			      	 <td ng-if="account.accountBlockStatus=='block'">
				      			      	   <input type="hidden" ng-model="blockStatus" ng-init="blockStatus='unblock'">  
					      			       <a type="submit" ng-click="changeAccountBlockStatus(account,blockStatus)">Unblock</a> 			      	
				      			      	 </td>
				      			      	 <td ng-if="account.accountBlockStatus=='unblock'">
				      			      	 	<input type="hidden" ng-model="blockStatus" ng-init="blockStatus='block'"> 
				      			      	 	<a type="submit" ng-click="changeAccountBlockStatus(account,blockStatus)">Block</a>
				      			      	 </td>
				      			      	 <td>
				      			      	 	<a type="submit" ng-click="getAccountInfo(idAdmin,account.idAccount)">Info</a>
				      			      	 </td>
				      			      	  <td>
				      			      	 	<a type="submit" ng-click="getAccountSingleMessagesPage(idAdmin, account.idAccount)">Messages</a>
				      			      	 </td>
						   			  </tr>
						      </tbody>
						  </table>	  
						</div>	
		
					 </fieldset>
				</form>
	          </div>
	        </div>
	     </div>
      </div>
   </div>
</div>
 
<div class="col-md-2">
	<ul class="nav nav-pills nav-stacked">
	  <li>
		  <div class="panel panel" style="background-color:#92A7B8">
			   <div class="panel-heading">
			        <h4 class="panel-title">
			          <a data-toggle="collapse" data-target="#collapse">Account</a>
			        </h4>
			   </div>
			   <div id="collapse" class="panel-collapse collapse">
			     <form>
				    <div class="panel-body">
				       <a ng-click="getPageSearchAccount(idAdmin)">Search Account</a>
				    </div>
				</form>    
			 </div>
	     </div>
	  </li>
	</ul>
</div>
